* {
    padding: 0;
    margin: 0;
}

.fullDisplay {
    width: 500px;
    min-height: 30px;
    display: flex;
    margin: 50px;
}

label {
    display: block;
}

.blockColor {
    width: 250px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#boxColor {
    width: 200px;
    height: 200px;
}

.boxArray {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    min-height: 0px;
    border: 3px solid black; 
    margin: 10px;
    padding: 10px;
}

.newBlock {
    width: 100px;
    height: 100px;
}

.btn {
    margin-top: 10px;
    background-color: blue;
    color: white;
    width: 110px;
    height: 30px;
    border: 0px;
    border-radius: 10px;
}
